<ion-header-bar class="bar bar-header bar-dark">
    <button class="button button-icon icon" ui-sref="app.newsfeed.recent">
        <i class="ion-navicon-round"></i>
    </button>
    <div class="h1 title">
        <img height="12" src="/images/og-logo.png"/>
    </div>
    <button class="button button-icon icon" ui-sref="app.settings">
        <i class="ion-gear-b"></i>
    </button>
</ion-header-bar>
<ion-header-bar class="bar bar-subheader bar-dark">
    <div class="h1 title">My Greek Friends</div>
</ion-header-bar>
<ion-view>

</ion-view>
