<ion-view view-title="Select Organization">
    <ion-content class="onegreek-dark register">
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search Organizations..." ng-model="filters.organization_name" ng-keypress="updateOrganizations()">
            </label>
            <ion-item ng-repeat="o in organizations" ng-click="selectOrganization(o)">
                {{ o.name }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>